<script>
    import Button from "../shared/Button.svelte";
    import { createEventDispatcher } from "svelte";
    import PollStore from "../store/PollStore";
    import PollsNotificationService from "../services/notification/PollsNotificationService";
    import LengthValidator from "../validators/LengthValidator";
    import {
        QUESTION_FIELD_LENGTH_ERROR,
        ANSWER_A_FIELD_LENGTH_ERROR,
        ANSWER_B_FIELD_LENGTH_ERROR,
    } from "../errors/CREATE_POLL_FORM_ERRORS";
    import QuestionLengthError from "../errors/QuestionLengthError";
    import AnswerALengthError from "../errors/AnswerALengthError";
    import AnswerBLengthError from "../errors/AnswerBLengthError";

    const dispatch = createEventDispatcher();

    const PollStoreInstance = PollStore.getInstance(PollStore);
    const polls = PollStoreInstance.polls;

    let fields = {
        question: "",
        answerA: "",
        answerB: "",
    };
    let errors = {
        question: "",
        answerA: "",
        answerB: "",
    };
    let valid = false;

    const onHandleSubmit = async () => {
        const MIN_QUESTION_LENGTH = 7;
        const MIN_LENGTH = 1;

        valid = true;
        // validate form
        await Promise.allSettled([
            LengthValidator.setErrorType(QuestionLengthError, "question")
                .setErrorMessage(
                    getFieldsErrorMessage("question", MIN_QUESTION_LENGTH),
                )
                .validate(fields.question.trim().length, MIN_QUESTION_LENGTH),

            LengthValidator.setErrorType(AnswerALengthError, "answerA")
                .setErrorMessage(getFieldsErrorMessage("answerA", MIN_LENGTH))
                .validate(fields.answerA.trim().length, MIN_LENGTH),

            LengthValidator.setErrorType(AnswerBLengthError, "answerB")
                .setErrorMessage(getFieldsErrorMessage("answerB", MIN_LENGTH))
                .validate(fields.answerB.trim().length, MIN_LENGTH),
        ]).then((values) => {
            values.forEach((data) => {
                try {
                    if (data.status === "rejected") {
                        const ErrorType = data.reason.ErrorType;
                        throw new ErrorType(data.reason.message);
                    } else {
                        let errorKey = data.value.key;
                        errors.hasOwnProperty(errorKey) &&
                            (errors[errorKey] = "");
                    }
                } catch (e) {
                    if (e instanceof QuestionLengthError) {
                        errors.question = e.message;
                    } else if (e instanceof AnswerALengthError) {
                        errors.answerA = e.message;
                    } else if (e instanceof AnswerBLengthError) {
                        errors.answerB = e.message;
                    } else {
                        console.error("Error: ", e);
                    }

                    valid = false;
                }
            });
        });

        // add new poll
        if (valid) {
            // valid poll
            const poll = { ...fields, votesA: 0, votesB: 0, id: Math.random() };

            const notification = new PollsNotificationService();

            PollStoreInstance.ref.updatePolls(poll);
            notification.createPoll(fields.question);

            dispatch("add");
        }
    };

    const getFieldsErrorMessage = (fieldName, condition) => {
        const question_message = QUESTION_FIELD_LENGTH_ERROR.replace(
            "{{MIN_LENGTH}}",
            condition,
        );

        const answer_a_message = ANSWER_A_FIELD_LENGTH_ERROR.replace(
            "{{MIN_LENGTH}}",
            condition,
        );

        const answer_b_message = ANSWER_B_FIELD_LENGTH_ERROR.replace(
            "{{MIN_LENGTH}}",
            condition,
        );

        if (fieldName === "question") {
            return question_message;
        } else if (fieldName === "answerA") {
            return answer_a_message;
        } else if (fieldName === "answerB") {
            return answer_b_message;
        }

        return {
            question_message,
            answer_a_message,
            answer_b_message,
        };
    };
</script>

<form on:submit|preventDefault={onHandleSubmit}>
    <div class="form-field">
        <label for="question">Poll Question</label>
        <input
            type="text"
            name="question"
            id="question"
            bind:value={fields.question}
        />
        <div class="error">{errors.question}</div>
    </div>
    <div class="form-field">
        <label for="answer-a">Answer A</label>
        <input
            type="text"
            name="answer-a"
            id="answer-a"
            bind:value={fields.answerA}
        />
        <div class="error">{errors.answerA}</div>
    </div>
    <div class="form-field">
        <label for="answer-b">Answer B</label>
        <input
            type="text"
            name="answer-b"
            id="answer-b"
            bind:value={fields.answerB}
        />
        <div class="error">{errors.answerB}</div>
    </div>
    <Button type="secondary" flat={false} inverse>Add Poll</Button>
</form>

<style>
    form {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .form-field {
        margin: 18px auto;
    }
    input {
        width: 100%;
        border-radius: 6px;
    }
    label {
        margin: 10px auto;
        text-align: left;
    }
    .error {
        font-weight: bold;
        font-size: 12px;
        color: #d91b42;
    }
</style>
