<script>
    import { tweened } from "svelte/motion";
    import PollsNotificationService from "../services/notification/PollsNotificationService";
    import PollStore from "../store/PollStore";
    import Card from "../shared/Card.svelte";
    import Button from "../shared/Button.svelte";

    export let poll;

    const notification = new PollsNotificationService();
    const PollStoreInstance = PollStore.getInstance(PollStore);
    const polls = PollStoreInstance.ref.getPolls();

    // reactive values
    $: totalVotes = poll.votesA + poll.votesB;
    $: percentA = Math.floor((100 / totalVotes) * poll.votesA) || 0;
    $: percentB = Math.floor((100 / totalVotes) * poll.votesB) || 0;

    // tweened percentages

    const tweenedA = tweened(0);
    const tweenedB = tweened(0);
    $: tweenedA.set(percentA);
    $: tweenedB.set(percentB);

    // handle votes
    const handleVote = (option, id) => {
        PollStoreInstance.ref.updatePollsVote(option, id);
    };

    const handleDelete = (pollId) => {
        PollStoreInstance.ref.deletePoll(pollId);

        notification.deletePoll();
    };
</script>

<Card>
    <div class="poll">
        <h3>{poll.question}</h3>
        <p>Total votes: {totalVotes}</p>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div class="answer" on:click={() => handleVote("a", poll.id)}>
            <div class="percent persent-a" style={`width: ${$tweenedA}%`}></div>
            <span>{poll.answerA} ({poll.votesA})</span>
        </div>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div class="answer" on:click={() => handleVote("b", poll.id)}>
            <div class="percent persent-b" style={`width: ${$tweenedB}%`}></div>
            <span>{poll.answerB} ({poll.votesB})</span>
        </div>
        <div class="delete">
            <Button flat on:click={() => handleDelete(poll.id)}>Delete</Button>
        </div>
    </div>
</Card>

<style>
    h3 {
        margin: 0 auto;
        color: #555;
    }
    p {
        margin-top: 6px;
        font-size: 14px;
        color: #aaa;
        margin-bottom: 30px;
    }
    .answer {
        position: relative;
        cursor: pointer;
        background-color: #fafafa;
        margin: 10px auto;
    }
    .answer:hover {
        opacity: 0.6;
    }
    span {
        display: inline-block;
        padding: 10px 20px;
    }
    .percent {
        height: 100%;
        position: absolute;
        box-sizing: border-box;
    }
    .persent-a {
        border-left: 4px solid #d91b42;
        background-color: rgba(217, 27, 66, 0.2);
    }
    .persent-b {
        border-left: 4px solid #45c496;
        background-color: rgba(69, 196, 150, 0.2);
    }
    .delete {
        margin-top: 30px;
        text-align: center;
    }
</style>
