<script>
    import {ToastContainer, FlatToast} from "svelte-toasts";
    import CreatePollForm from "./components/CreatePollForm.svelte";
    import Footer from "./components/Footer.svelte";
    import Header from "./components/Header.svelte";
    import Tabs from "./shared/Tabs.svelte";
    import PollList from "./components/PollList.svelte";
    import PollStore from "./store/PollStore";

    const CURRENT_POLLS_TAB = "Current Polls";

    // init Poll Store
    PollStore.initializePhase(PollStore);

    // tabs
    let items = [CURRENT_POLLS_TAB, "Add New Poll"];
    let activeItem = CURRENT_POLLS_TAB;

    const tabChange = (e) => {
        activeItem = e.detail;
    };

    const handleAdd = () => {
        activeItem = CURRENT_POLLS_TAB;
    };
</script>

<Header />
<main>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida mi
        enim, id euismod turpis pretium nec. Pellentesque nec blandit sapien,
        non aliquet odio. Maecenas volutpat blandit orci. Donec at congue urna.
        Praesent mi mi, interdum ut ipsum ac, varius pharetra mauris. Mauris
        consequat dignissim leo, eget dictum augue. Sed facilisis tellus sapien,
        vulputate efficitur enim ultrices ac. Sed lacinia orci felis.
    </p>
    <Tabs {items} {activeItem} on:tabChange={tabChange} />
    {#if activeItem === CURRENT_POLLS_TAB}
        <PollList  />
    {:else if activeItem === "Add New Poll"}
        <CreatePollForm on:add={handleAdd} />
    {/if}
</main>
<Footer />

<ToastContainer let:data={data}>
    <FlatToast {data} />
</ToastContainer>

<style>
    main {
        max-width: 960px;
        margin: 40px auto;
    }
</style>
